mj-head
  mj-title Picto
  mj-font(
    name='Open Sans'
    href='https://fonts.googleapis.com/css?family=Open+Sans:600,700')
  mj-font(
    name='Roboto'
    href='https://fonts.googleapis.com/css?family=Roboto:400,500')
  mj-style(inline='inline') 
    | a { text-decoration: none; color: inherit; }
