- const bodyBg = '#f3f2ed'
- const headerBg = '#e0dfda'
- const darkColor = '#343538'
- const lightColor = '#a7a7a7'
- const whiteColor = '#fff'
- const imagePath = 'https://cdn.rawgit.com/in-in/picto/gh-pages/assets/images/'
- const iconSocialPath = imagePath + 'icon-social/'
