include blocks/variables.pug
include blocks/body.pug

mjml
  include blocks/head.pug
  +body()
    mj-wrapper(background-color=headerBg, full-width)
      mj-section
        mj-column
          mj-text On Air1

    mj-hero
      mj-hero-content
        mj-text On Air
